@page "/registration"
@inject ViewModels.IRegistration _registration

<section class="container">
    <EditForm class="test-class" Model=_registration.UserModel OnSubmit=_registration.RegisterUser>
        <InputText placeholder="Name" @bind-Value=_registration.UserModel.Name/> <br/>
        <InputText @bind-Value=_registration.UserModel.Email/> <br/>
        <InputText @bind-Value=_registration.UserModel.Password/> <br/>
    <button type="submit">Register</button>
    </EditForm>
</section>

@code {

}
