@page "/send"
@using System.Collections.Specialized
@inject ChatApp.Client.ViewModels.IMessageSend MessageSend
@inject ChatApp.Client.ViewModels.IMessageList MessageList
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject NavigationManager NM

<ul>
    @foreach(var msg in MessageList.Messages)
    {
        <li><b>@msg.User.Name</b> : @msg.Content</li>
    }
</ul>

<EditForm Model=MessageSend.Message OnSubmit=MessageSend.SendMessage>
    <InputText @bind-Value=MessageSend.Message.Content/> <br/>
    <button type="submit">Send</button>
</EditForm>

@code
{
    protected override async Task OnInitializedAsync()
    {
        if (!(await LocalStorage.ContainKeyAsync("loggedin")))
            NM.NavigateTo("/", true);

        await MessageList.GetMessages();
        MessageList.Messages.CollectionChanged += (object sender, NotifyCollectionChangedEventArgs e) 
            => StateHasChanged();
    }
}



