* {
    box-sizing: border-box;
}

body {
    color: white;
}

main {
    // background: #333333;
    overflow: hidden;
}

.container {
    width: 25%;
    margin: 2.5rem;
}

.user-input {
    width: 100%;
    margin: 1rem 0;
}

.user-btn {
    //margin: 1.5rem;
}

.flex-column i {
    font-size: 1rem;
    margin: 10px;
}

.submit {
    display: flex;
    justify-content: space-between;
}

.registration-nav-link {
    padding: 0;
}

/*home*/
.home-container {
    margin: 8rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.options-container {
    width: 90%;
    margin-top: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.option {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    padding: 3rem;
}

#option1 {
    background: #23074d; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #cc5333, #23074d); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #cc5333, #23074d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#option2 {
    background: #23074d; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #cc5333, #23074d); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #23074d, #cc5333); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}